<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Novel!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
    	<%= if current_user(@conn) do %>
		    <nav class="navbar navbar-default">
					<div class="container-fluid">
		  			<!-- Brand and toggle get grouped for better mobile display -->
		  			<div class="navbar-header">
				  		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
				  		</button>
				  		<a class="navbar-brand" href="/">Adrite</a>
		  			</div>

		  			<!-- Collect the nav links, forms, and other content for toggling -->
		  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  				<form class="navbar-form navbar-left" role="search">
		      			<div class="form-group">
		        			<input type="text" class="form-control" placeholder="Search">
		      			</div>
		      			<button type="submit" class="btn btn-default">Submit</button>
		    			</form>
				  		<ul class="nav navbar-nav navbar-right">
				  			
				  			<li class="dropdown">
				    			<%= link to: "#", class: "dropdown-toggle", data: [toggle: "dropdown"], role: "button", 
				    				aria: [haspopup: "true", expanded: "false"]  do %>
				    				<strong><%= current_user(@conn).name %></strong> <span class="caret"></span> 
				    			<% end %>
				    			<ul class="dropdown-menu">
				    				<li>
				    					<%= link to: "#", data: [toggle: "modal", target: "#siteListModal"]  do %>
				    						<span class="glyphicon glyphicon-briefcase"></span> Controls
				    					<% end %>
				    				</li>
				    				<li role="separator" class="divider"></li>
				    				<li>
				    					<%= link to: user_path(@conn, :edit)  do %>
				    						<span class="glyphicon glyphicon-circle-arrow-up"></span> Received
				    					<% end %>
				    				</li>
				    				<li>
				    					<%= link to: user_path(@conn, :edit)  do %>
				    						<span class="glyphicon glyphicon-circle-arrow-down"></span> Payables
				    					<% end %>
				    				</li>
				    				<li role="separator" class="divider"></li>
				    				<li>
				    					<%= link to: user_path(@conn, :edit)  do %>
				    						<span class="glyphicon glyphicon-cog"></span> Settings
				    					<% end %>
				    				</li>
				    			</ul>
				    		</li>
				    		
				    		<li style="margin-top: 15px;">
				    			<%= link to: session_path(@conn, :delete), method: :delete, style: "color: #a94442"  do %>
				    				<span class="glyphicon glyphicon-off"></span> Log out
				    			<% end %>
				    		</li>
				  		</ul>
		  			</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			<% end %>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
        <%= render Novel.SiteView, "site_list.html", conn: @conn, sites: Novel.Repo.all(Novel.Site)  %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
