<h2>Edit milestone</h2>

<%= render "form.html", changeset: @changeset,
                        action: milestone_path(@conn, :update, @milestone) %>

<%= link "Back", to: milestone_path(@conn, :index) %>
