<%= link "Back", to: site_path(@conn, :index), class: "btn btn-default btn-sm pull-right" %>
<h3><strong>New site</strong></h3>
<hr />

<%= render "form.html", measurements: @measurements, changeset: @changeset,
                        action: site_path(@conn, :create) %>


