<h3>
	<strong>New labour control for <%= @site_sub_milestone.sub_milestone.name %></strong><br />
	<small><strong>site: </strong><%= @site_sub_milestone.site.name %></small>
</h3>
<hr />
<%= render "form.html", labours: @labours, changeset: @changeset,
                        action: site_sub_milestone_labour_control_path(@conn, :create, @site_sub_milestone) %>
                        
<%#= link "Back", to: site_sub_milestone_labour_control_path(@conn, :index, @site_sub_milestone) %>
