<%= link "Back", to: site_sub_milestone_control_path(@conn, :index, @site_sub_milestone), class: "btn btn-default btn-sm pull-right" %>
<h3>
	<strong>Editing matererial control for <%= @site_sub_milestone.sub_milestone.name %></strong><br />
	<small><strong>site: </strong><%= @site_sub_milestone.site.name %></small>
</h3>
<hr />

<%= render "form.html", materials: @materials, changeset: @changeset,
                        action: site_sub_milestone_material_control_path(@conn, :update, @site_sub_milestone, @material_controls) %>
