<h2>New site milestone</h2>

<%= render "form.html", changeset: @changeset,
                        action: site_milestone_path(@conn, :create) %>

<%= link "Back", to: site_milestone_path(@conn, :index) %>
