<h2>Show material</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @material.name %>
  </li>

  <li>
    <strong>Cost:</strong>
    <%= @material.cost %>
  </li>

</ul>

<%= link "Edit", to: material_path(@conn, :edit, @material) %>
<%= link "Back", to: material_path(@conn, :index) %>
