<h2>Edit control</h2>

<%= render "form.html", changeset: @changeset,
                        action: site_sub_milestone_control_path(@conn, :update, @site_sub_milestone, @control) %>

<%= link "Back", to: site_sub_milestone_control_path(@conn, :index, @site_sub_milestone) %>
